.container{
    width: 350px;
    height: 230px;
    margin:13% auto;
    padding: 10px 30px;
    border-radius: 10px;
    background-color:aliceblue ;
    box-shadow:10px 10px 3px #ccc;
}
h2{
    margin-bottom: 15px;
}
button{
    margin:15px 0px;
    background-color: #fff;
    color:#00b5b8;
    border:1px solid #00b5b8;
}
button:hover{
    background-color: #00b5b8;
    color:#fff;
    border:1px solid #00b5b8;
}
a{
    color:#00b5b8;
}
a:hover{
    text-decoration:none;
}
