<div class="container">
    <h2 class="text-center">Recover Password</h2>
    <form>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
            <input type="email" pInputText placeholder="Your Email Address">         
        </div>
        <button type="submit" class="form-control btn btn-primary">Recover Password</button>
    </form>
    <a routerLink="/login" class="float-left">Login</a>
    <a routerLink="/signup" class="float-right">Create Account</a>
</div>