<!-- Sidebar -->
<div  id="sidebar-wrapper">
    <div class="sidebar-heading"><h3>Grocery App</h3> </div>
    <hr/>
    <div class="list-group list-group-flush">
        <a routerLink="dashboard" routerLinkActive="true" class="list-group-item list-group-item-action">
            <i style="margin-right: 10px;" class="pi pi-home"></i>
            Dashboard
        </a>
        <a routerLink="products" routerLinkActive="true" class="list-group-item list-group-item-action">
            <i style="margin-right: 10px;" class="pi pi-microsoft"></i>
            Products
        </a>
        <a routerLink="categories" routerLinkActive="true" class="list-group-item list-group-item-action">
            <i style="margin-right: 10px;" class="pi pi-list"></i>
            Categories
        </a>
        <a routerLink="orders" routerLinkActive="true" class="list-group-item list-group-item-action">
            <i style="margin-right: 10px;" class="fa fa-bars"></i>
            
            Orders
        </a>
        <a routerLink="users" routerLinkActive="true" class="list-group-item list-group-item-action">
            <i style="margin-right: 10px;" class="fa fa-users"></i>
            Users
        </a>
        <a routerLink="drivers" routerLinkActive="true" class="list-group-item list-group-item-action">
            <i style="margin-right: 10px;" class="fa fa-motorcycle"></i>
            Drivers
        </a>
        <a routerLink="copouns" routerLinkActive="true" class="list-group-item list-group-item-action">
            <i style="margin-right: 10px;" class="fa fa-tags"></i>
            Copouns
        </a>
    </div>
</div>
    <!-- /#sidebar-wrapper -->